@model IEnumerable<ProductModelClass>

<div class="row pb-3">
    @foreach (var productModelClass in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="@productModelClass.ImageUrl" class="card-img-top rounded"/>
                        <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@productModelClass.Title</p>
                            <p class="card-title text-warning text-center">by <b>@productModelClass.Author</b></p>
                        </div>
                        <div class="pl-1">
                            <p class="text-dark text-opacity-75 text-center mb-0">
                                List Price: 
                                <span class="text-decoration-line-through">
                                    @String.Format("{0:C}", productModelClass.ListPrice)
                                </span>
                            </p>
                        </div>
                        <div class="pl-1">
                            <p class="text-dark text-opacity-75 text-center">
                                As low as:
                                <span>
                                    @String.Format("{0:C}", productModelClass.Price100)
                                </span>
                            </p>
                        </div>
                    </div>
                        <!--<a href="#" class="btn btn-primary bg-gradient border-0 form-control">-->
                        <a asp-action="Details" asp-route-productId="@productModelClass.Id" class="btn btn-primary bg-gradient border-0 form-control">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
             }
</div>